<h1>{{ 'room-page.sure' | translate }}</h1>
<mat-divider></mat-divider>
<p>{{ 'room-page.really-delete-comments' | translate }}</p>
<app-dialog-action-buttons
  buttonsLabelSection="content"
  confirmButtonLabel="delete"
  [confirmButtonType]=confirmButtonType
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildCommentsDeleteActionCallback()"
></app-dialog-action-buttons>
