h1 {
  color: var(--on-surface);
  font-size: 2em;
}

h2 {
  font-size: large;
}

.intro-text {
  font-size: medium;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--on-surface);
}

iframe {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
