<h1>{{ 'room-page.sure' | translate }}</h1>
<mat-divider></mat-divider>
<p>{{ 'room-page.reallySession' | translate}}<strong>{{room.name}}</strong>{{ 'room-page.really2' | translate}}</p>
<app-dialog-action-buttons
  buttonsLabelSection="room-page"
  confirmButtonLabel="delete-room"
  [confirmButtonType]=confirmButtonType
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildRoomDeleteActionCallback()"
></app-dialog-action-buttons>
