<div class="max-height">

  <p>
    »frag.jetzt« wird vom Land Hessen im Rahmen des HMWK-Verbundprojekts <a href="https://www.digll-hessen.de/de" target="_blank">»Digital gestütztes Lehren und Lernen in Hessen«</a> (digLL) gefördert.<br>
    <br>
    <img src="https://arsnova.thm.de/blog/wp-content/uploads/2015/07/HMWK-Logo-300x136.png" alt="HMWK-Logo" width="200px"><br>
    <br>
    <img src="https://digll.studiumdigitale.uni-frankfurt.de/files/2019/06/digLL_Logo_small.png" alt="digLL-Logo" width="200px">
  </p>

  <p>
    <a href="https://arsnova.thm.de/blog/wp-content/uploads/2019/09/Projektantrag-DigLL@THM-frag_jetzt.pdf" target="_blank">Projektskizze zu »frag.jetzt«</a>
  </p>

  <p>
    Der Betrieb der <a href="https://github.com/thm-projects/frag.jetzt" target="_blank">Open-Source-Webanwendung</a>
    »frag.jetzt« ist eine kostenlose Dienstleistung
    (»Soft&shy;ware as a Service«) der TransMIT-Gesellschaft für
    Technologietransfer mbH, Projektbereich für mobile An&shy;wen&shy;dun&shy;gen.<br>
    <br>
    Kerkrader Straße 3<br>
    D-35394 Gießen<br>
    <br>
    c/o THM<br>
    Fachbereich Mathematik, Naturwissenschaften und Informatik<br>
    Prof. Dr. Klaus Quibeldey-Cirkel<br>
    Lehrstuhl für Softwaretechnik<br>
    <br>
    Wiesenstraße 14<br>
    D-35390 Gießen<br>
    <br>
    Telefon: +49 641 309-2450<br>
    Mail: klaus.quibeldey-cirkel@transmit.de<br>
    <br>
    Sitz der Gesellschaft: Gießen<br>
    Website: https://www.transmit.de<br>
    Rechtsform: GmbH<br>
    Amtsgericht: Gießen HRB 3036<br>
    USt-IdNr.: DE 188 685 037<br>
    <br>
  </p>

</div>
