<div class="max-height">

  <p>
    "frag.jetzt" is funded by the State of the Federal State of Hessen as part of the HMWK joint project <a
    href="https://www.digll-hessen.de/de" target="_blank">"Digitally supported teaching and learning in the State of Hessen"</a> (digLL).<br>
    <br>
    <img src="https://arsnova.thm.de/blog/wp-content/uploads/2015/07/HMWK-Logo-300x136.png" alt="HMWK-Logo" width="200px"><br>
    <br>
    <img src="https://digll.studiumdigitale.uni-frankfurt.de/files/2019/06/digLL_Logo_small.png" alt="digLL-Logo" width="200px">
  </p>

  <p>
    <a href="https://arsnova.thm.de/blog/wp-content/uploads/2019/09/Projektantrag-DigLL@THM-frag_jetzt.pdf" target="_blank">Project outline for "frag.jetzt"</a>
  </p>

  <p>
    The operation of the <a href="https://github.com/thm-projects/frag.jetzt" target="_blank">open-source web application</a> »frag.jetzt« is a free service
    (»Software as a Service«) of the TransMIT GmbH, project division for mobile applications.<br>
    <br>
    Kerkrader Straße 3<br>
    D-35394 Gießen<br>
    Germany<br>
    <br>
    c/o THM<br>
    Department of Mathematics, Natural Sciences and Informatics<br>
    Prof. Dr. Klaus Quibeldey-Cirkel<br>
    Professorship for Software Engineering<br>
    <br>
    Wiesenstraße 14<br>
    D-35390 Gießen<br>
    Germany<br>
    <br>
    Phone: +49 641 309-2450<br>
    Mail: klaus.quibeldey-cirkel@transmit.de<br>
    <br>
    Company headquarters: Gießen<br>
    Website: https://www.transmit.de<br>
    Legal form: GmbH<br>
    Local court: Gießen HRB 3036<br>
    German VAT no.: DE 188 685 037<br>
    <br>
  </p>

</div>
