<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="80"></mat-progress-spinner>
  </div>
</div>

<div *ngIf="roomsWithRole">
  <mat-divider></mat-divider>
  <div *ngIf="tableDataSource.data.length === 0" aria-labelledby="emptySessionHistoryLabel">
    <h3>{{ 'room-list.no-room-history' | translate }}</h3>
  </div>

  <div *ngIf="tableDataSource.data.length > 0">

    <!-- filter input -->
    <mat-form-field class="filterWrapper">
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" matInput (keyup)="applyFilter($event.target.value)"
             class="filter"
             attr.aria-labelledby="sessionHistoryLabel{{ this.rooms.length === 1 ? '1' : '' }}"/>
      <mat-placeholder class="placeholder">{{ 'room-list.filter-message' | translate }}</mat-placeholder>
    </mat-form-field>

    <div [class.tableOverflow]="this.tableDataSource.data.length > 5">
      <table #roomTable mat-table [dataSource]="tableDataSource" style="width: 100%">

        <!-- Room / Session name column -->
        <ng-container matColumnDef="name" aria-hidden="true">
          <th mat-header-cell *matHeaderCellDef style="width: 35%">
            {{ 'room-list.panel-session-name' | translate }}
          </th>
          <td mat-cell *matCellDef="let room">
            {{ room.name }}
          </td>
        </ng-container>

        <!-- Session ID column -->
        <ng-container matColumnDef="shortId" aria-hidden="true">
          <th mat-header-cell *matHeaderCellDef style="width: 30%">
            {{ 'room-list.panel-session-id' | translate }}
          </th>
          <td mat-cell *matCellDef="let room">
            {{ room.shortId.slice(0,4) }} {{ room.shortId.slice(4,8) }}
          </td>
        </ng-container>

        <!-- Role column -->
        <ng-container matColumnDef="role" aria-hidden="true">
          <th mat-header-cell *matHeaderCellDef style="width: 15%">
            {{ 'room-list.panel-user-role' | translate }}
          </th>
          <td mat-cell *matCellDef="let room" [ngSwitch]="room.role">
            <mat-icon mat-list-icon *ngSwitchCase="creatorRole"
                      title="{{ 'room-list.creator-role' | translate }}">
              record_voice_over
            </mat-icon>
            <mat-icon mat-list-icon *ngSwitchCase="participantRole"
                      title="{{ 'room-list.participant-role' | translate }}">
              people
            </mat-icon>
            <mat-icon mat-list-icon *ngSwitchCase="executiveModeratorRole"
                      title="{{ 'room-list.executive-moderator-role' | translate }}">
              gavel
            </mat-icon>
          </td>
        </ng-container>

        <!-- Join button column -->
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef style="width: 20%; text-align: end">
            {{ 'room-list.panel-join-button' | translate }}
          </th>
          <td mat-cell *matCellDef="let room" style="text-align: end"
              attr.aria-labelledby="empty">
            <button mat-flat-button type="button"
                    attr.aria-labelledby="{{ 'joinButtonLabel' + room.shortId | translate }}"
                    name="{{ 'room-list.panel-join-button' | translate }}"
                    routerLink="/{{ roleToString((room.role)) }}/room/{{ room.shortId }}"
                    (click)="setCurrentRoom(room.shortId)">
              <mat-icon>input</mat-icon>
            </button>
            <div class="visually-hidden">
              <div id="{{ 'joinButtonLabel' + room.shortId | translate }}">
                {{ 'room-list.join-message-template' | translate:{
                  session: room.name,
                  id: room.shortId,
                  role: ( 'room-list.' + roleToString((room.role)) + '-role' | translate )
              } }}
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>
  </div>

</div>

<div class="visually-hidden">
  <div id="emptySessionHistoryLabel">{{ 'room-list.no-room-history' | translate }}</div>
  <div id="sessionHistoryLabel">
    {{ 'room-list.session-history-label' | translate }}
    {{ 'room-list.session-history' | translate:{ count: this.rooms.length } }}
    {{ 'room-list.filter' | translate }}
  </div>
  <div id="sessionHistoryLabel1">
    {{ 'room-list.session-history-label' | translate }}
    {{ 'room-list.session-history-1' | translate }}
    {{ 'room-list.filter' | translate }}
  </div>
  <div id="empty"></div>
</div>
