button {
  background-color: var(--secondary);
  color: var(--on-secondary);
  transform: scale(0.9);
}

.filterWrapper {
  width: 100%;
}

.filter {
  color: var(--on-surface)!important;
}

h2, h3 {
  color: var(--on-surface)!important;
}

table, th, tr, td {
  background-color: var(--primary-variant) !important;
  color: var(--on-surface)!important;
}

th {
  font-size: 1rem;
}

.tableOverflow {
  height: 20rem;
  overflow: auto;
}

.sessionName {
  width: 8%;
  min-width: 50px;
  color: var(--on-surface)!important;
}

.sessionId {
  width: 8%;
  min-width: 50px;
  color: var(--on-surface)!important;
}

.roleName {
  color: var(--on-surface)!important;
  width: 5%;
}

.buttonName {
  color: var(--on-surface)!important;
  width: 5%;
  display: flex;
  place-content: stretch flex-end;
}

.noRoomHistory {
  color: var(--on-surface)!important;
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}
