mat-form-field {
  color: var(--on-surface);
}

.mat-flat-button {
  color: var(--on-primary);
  background-color: var(--primary);
}

input {
  caret-color: var(--on-surface);
  color: var(--on-surface);
}

.textfields {
  padding: .5rem 0;
  align-items: baseline;
}

p {
  color: var(--on-surface);
}
