<p>
  Your questions and votes are anonymous.
  A »frag.jetzt« account only makes sense,
  if you either want to save your sessions for 180 days after the last visit
  or want to participate in a session with bonuses for interesting questions.
  You can delete your account at any time. We will not share your email address with anyone.
</p>
<p>
  By clicking the button »Accept« you agree to the use of a local storage as well as our privacy policy.
  You can view these by clicking on the data protection symbol.
</p>
