<p>
  Deine Fragen und Bewertungen sind anonym.
  Ein »frag.jetzt«-Konto ist nur sinnvoll,
  wenn du entweder deine Sitzungen für 180 Tage nach dem letzten Besuch speichern
  oder an einer Sitzung mit Bonusvergabe für interessante Fragen teilnehmen willst.
  Du kannst dein Konto jederzeit löschen. Wir geben deine Mail-Adresse nicht weiter.
</p>
<p>
  Mit Anklicken des Buttons »Akzeptieren« erklärst du dich mit der Verwendung Local-Storage-Technik sowie unseren Hinweisen zum Datenschutz einverstanden.
  Diese kannst du über das Datenschutz-Symbol einsehen.
</p>
