h1 {
  font-size: 2em;
}

h2 {
  font-size: large;
}

div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--on-surface);
}

.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-stroked-button {
  color: var(--on-surface);
}
