.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-stroked-button {
  color: var(--on-surface);
}

div {
  color: var(--on-surface);
}

.info{
  vertical-align: bottom;
  margin-left: -5px;
}

.info-icon{
  font-size: 40px;
}

.container{
  width:100%;
  height:100%;
  position:relative;
  left:0px;
  top:0px;
}

.content_container{
  width:100%;
  height:calc( 100% - 50px );
  float:left;
}

.scroll_container{
  width:100%;
  height:100%;
  overflow-y:auto;
}

.inner_scroll_container{
  width:100%;
  margin-top:15px;
  float:left;
}

.button_container{
  width:100%;
  height:50px;
  float:left;
}

h1 {
  display:inline;
  margin: 0; /* material design reset */
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* material h1 style */
}

.header-container button {
  margin-left: .3rem;
}
