<div class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="315"
            src="https://youtu.be/qHRC6z9VtWs?autoplay=0" frameborder="0"
            allowfullscreen
    ></iframe>
  </div>
</div>

<h2>Warum »frag.jetzt«?</h2>

<p>Die klassische Vorlesung endet in der Regel mit: »Haben Sie Fragen?«. Und stets meldet sich niemand oder es fragen
  immer dieselben wenigen. Entweder traut sich im großen Hörsaal niemand oder die Fragen, die man im Verlauf der
  Vorlesung eigentlich stellen wollte, sind vergessen.</p>

<p>Wem daran liegt, dass seine Vorlesung reflektiert und
  hinterfragt wird, braucht ein Tool zum anonymen stillen Fragenstellen.
  Ein solches <a href="https://github.com/thm-projects/frag.jetzt" target="_blank"> Open-Source-Tool</a> steht mit
  »frag.jetzt« kostenlos zur freien Verfügung. Gibt es Bedenken? Ist das Tool barrierefrei, daten&shy;schutz&shy;kon&shy;form,
  sofort ohne Einarbeitung und ohne technisches Verständnis mit jedem Endgerät nutzbar? Dreimal ja.</p>

<p>Wenn ich »frag.jetzt« anonym und somit ohne soziale Kontrolle verwenden lasse, lade ich dann nicht auch zum
  Missbrauch ein? Nein, denn die Fragenliste kann von einer Hilfskraft live moderiert werden: Nur vorlesungsadäquate
  Fragen verbleiben auf der Liste.</p>

<p>Aber ich kann doch nicht alle Fragen in den letzten zehn Minuten meiner Vorlesung
  beantworten. Klar. Hier kommt der kollektive Tool-Aspekt zum Tragen: Jeder im Auditorium kann jede Frage bewerten,
  neudeutsch: up oder down voten. Die vom Auditorium am höchsten bewerteten Fragen kannst du sofort beantworten, die
  anderen, falls du es willst, später im Kursforum der Lernplattform.</p>

<h2>
  Das Besondere an »frag.jetzt«
</h2>

<p>
  Die Lehrperson kann für zielführende und vorlesungsadäquate Fragen Bonuspunkte vergeben.
  Studierende, die an der Bonusvergabe teilnehmen wollen, müssen sich registrieren und mit ihrem Konto an der Sitzung
  anmelden.
  Dies ist beim Export der Fragen erforderlich, um die Identität der Fragensteller/innen anhand der Mail-Adresse den
  Bonus-prämierten Fragen zuordnen zu können.
  Auch registrierte Teilnehmer/innen bleiben für alle anderen immer anonym.
</p>
<p>
  Es können beliebig viele Sitzungen kostenlos als Gast oder registrierter User erstellt werden.
  Nur die Sitzungen registrierter User bleiben dauerhaft erhalten.
  Erst 180 Tage nach der letzten Nutzung einer Sitzung wird diese automatisch gelöscht.
</p>
<p>
  »frag.jetzt« wurde für die barrierefreie Nutzung mit einem Screen Reader und die ausschließliche Steuerung mit der
  Tastatur optimiert.
  Die Benutzerschnittstelle genügt den Anforderungen gemäß WCAG 2.1 AA.
  Für die Beamer-Präsentation in großen Hörsälen und für Sehbehinderte stehen entsprechende Anzeigeoptionen (»Themes«)
  zur Verfügung.
  Insbesondere kann die Schriftgröße der Fragen beliebig skaliert werden.
</p>
<p>
  »frag.jetzt« kann bei einer Anmeldung als Gast vollständig anonym verwendet werden.
  Die Konten registrierter User werden datenschutzkonform nach den Vorgaben der DSGVO gespeichert und verwaltet.
  Der Programmcode ist »Open Source Software« und kann auf GitHub eingesehen werden.
  »frag.jetzt« wird als kostenlose »Software as a Service« von der TransMIT GmbH betrieben, siehe Impressum.
</p>

<h2>Handy-Nutzung</h2>

<ol>
  <li>
    Handy-Nutzung während der Vorlesung:
    Eine Hilfskraft moderiert das Fragen-Board vor Ort oder aus der Ferne.
    10 Minuten vor Ende der Vorlesung beantwortet die Lehrperson 2-3 Top-Fragen am Beamer.
  </li>
  <li>
    Handy-Nutzung nur in der Pause:
    Die Lehrperson gibt den Sitzungs-Code in der Pause bekannt und moderiert die Fragen selbst.
    Nach der Pause beantwortet sie 2-3 Top-Fragen.
  </li>
  <li>
    Keine Handy-Nutzung während der Vorlesung:
    Die Lehrperson erstellt eine neue Sitzung am Ende jeder Vorlesung.
    Die Studierenden können zuhause Fragen stellen und bewerten.
    Das Fragen-Board moderiert eine Hilfskraft oder die Lehrperson selbst.
    In den ersten 10 Minuten der nächsten Vorlesung geht die Lehrperson auf 2-3 Top-Fragen ein.
  </li>
  <li>
    Keine Handy-Nutzung während der Vorlesung:
    Die Lehrperson erstellt eine Sitzung für die gesamte Dauer des Kurses.
    Eine Hilfskraft moderiert das Fragen-Board während des Semesters.
    Die Lehrperson markiert die relevanten Fragen und löscht alle anderen.
    Die Fragenliste dient so der Reflexion der Vorlesungsinhalte und zur Vorbereitung auf die Klausur.
  </li>
</ol>

<h2>»Gender«-gerechte Sprache</h2>

<p>
  Screen Reader für Sehbehinderte und Blinde,
  wie <a
  href="https://chrome.google.com/webstore/detail/chromevox-classic-extensi/kgejglhpjiefppelpmljglcjbhoiplfn?hl=de"
  target="_blank">ChromeVox</a>
  (»frag.jetzt« wurde hierfür optimiert)
  oder <a href="https://www.nvaccess.org/" target="_blank">NVDA</a>,
  sprechen »gegenderte« Nomen unverständlich aus.
  Wir verwenden deshalb das <a href="https://de.wikipedia.org/wiki/Generisches_Maskulinum" target="_blank">Generische
  Maskulinum</a> für Texte und Labels in der App.
</p>
