<div fxLayout="row" [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     *ngIf="comments.length > 2" (window:scroll)="checkScroll()" fxLayoutAlign="center">
  <mat-label *ngIf="deviceType === 'desktop'" fxLayoutAlign="center center">
    <mat-icon class="search-icon">search</mat-icon>
  </mat-label>
  <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
         #searchBox id="searchBox" [ngClass]="{'desktop-input': deviceType === 'desktop',
   'mobile-input': deviceType === 'mobile' && !search, 'mobile-input-2': deviceType === 'mobile' && search }"
         (input)="searchComments()" [(ngModel)]="searchInput" [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description"/>
  <button id="search_close-button"
          mat-icon-button class="searchBarButton close" *ngIf="searchInput !== '' || search"
          (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = '';">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar" fxLayoutAlign="center center">
    <div *ngIf="comments && comments.length > 0">
      <h3 class="counter" *ngIf="comments && !hideCommentsList">{{comments.length}}</h3>
      <h3 class="counter-filtered" *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button mat-icon-button class="searchBarButton" (click)="activateSearch()"
            *ngIf="deviceType === 'mobile' && !search && comments && comments.length > 0 && !search">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button"
            mat-icon-button class="searchBarButton"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="sortMenu" matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button id="filter-button"
            mat-icon-button class="searchBarButton"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="filterMenu" matTooltip="{{ 'comment-list.filter-comments' | translate }}">
      <mat-icon class="searchBarIcon">filter_list</mat-icon>
    </button>
  </div>

  <mat-menu #sortMenu="matMenu" xPosition="before">
    <button mat-icon-button matTooltip="{{ 'comment-list.vote-desc' | translate }}"
            (click)="sortComments(votedesc)">
      <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
    </button>

    <button mat-icon-button matTooltip="{{ 'comment-list.vote-asc' | translate }}"
            (click)="sortComments(voteasc)">
      <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
    </button>

    <button mat-icon-button matTooltip="{{ 'comment-list.time' | translate }}"
            (click)="sortComments(time)">
      <mat-icon [ngClass]="{time: 'unread-icon'}[currentSort]">access_time</mat-icon>
    </button>
  </mat-menu>

  <mat-menu #filterMenu="matMenu" xPosition="before">
    <div>
      <button mat-icon-button (focus)="hideCommentsList=true" matTooltip="{{ 'comment-list.correct' | translate }}"
              (click)="filterComments(correct)">
        <mat-icon [ngClass]="{correct: 'correct-icon'}[currentFilter]">check_circle</mat-icon>
      </button>

      <button mat-icon-button (focus)="hideCommentsList=true" matTooltip="{{ 'comment-list.wrong' | translate }}"
              (click)="filterComments(wrong)">
        <mat-icon [ngClass]="{wrong: 'wrong-icon'}[currentFilter]">not_interested</mat-icon>
      </button>

      <button mat-icon-button (focus)="hideCommentsList=true" matTooltip="{{ 'comment-list.favorite' | translate }}"
              (click)="filterComments(favorite)">
        <mat-icon [ngClass]="{favorite: 'favorite-icon'}[currentFilter]">grade</mat-icon>
      </button>

      <button mat-icon-button (focus)="hideCommentsList=true" matTooltip="{{ 'comment-list.read' | translate }}"
              (click)="filterComments(read)">
        <mat-icon svgIcon="beamer" [ngClass]="{read: 'beamer-icon'}[currentFilter]"></mat-icon>
      </button>

      <button mat-icon-button (focus)="hideCommentsList=false" (click)="sortComments(currentSort); filterComments('')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-menu>
</div>

<button mat-icon-button class="scrollTop" [ngClass]="{'visible': scrollExtended}" (click)="scrollToTop()" tabIndex="-1">
  <mat-icon>arrow_upward</mat-icon>
</button>

<div *ngIf="!isLoading">
  <app-comment *ngFor="let current of hideCommentsList ? filteredComments : comments" [comment]="current"
               [parseVote]="getVote(current)"></app-comment>
</div>

<div *ngIf="comments && comments.length < 1 && !isLoading" fxLayout="row" fxLayoutAlign="center center"
     class="no-comments">
  <p>{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div class="visually-hidden">
  <div id="search-box-input-description">
    {{ 'comment-page.search-box-input-description' | translate }}
  </div>
</div>
